
DATABASE_URL=postgresql://guru_souf_user:Bz0ds10MFYAII5VYs9Qx8plpP5kTHlci@dpg-cqn1hro8fa8c73ak117g-a.oregon-postgres.render.com/guru_souf
SESSION_ID=Xlicon_3bb86a95-4280-4534-a8d9-e971cbb846be
REMOVEBG_KEY=
PREFIX=!
MODE=private
autoRead=false
statusview=false
